.calculator-display {
  grid-column: 1 / span 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 50px;
  background-color: #3e3e3e;
  color: #dadada;
  padding: 10px;
}
